# MacOS
.DS_Store

# Default TypeSpec output
tsp-output/
dist/

# Dependency directories
node_modules/

# Gradle
backend/.gradle/
backend/build/
backend/bin/
backend/out/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.kotlin_module

# SQLite
backend/*.db*